:root {
  --primary-font-family: 'Roboto', sans-serif;
  --main-logo-font-family: 'Raleway', sans-serif;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --opacity-text-color: rgba(255, 255, 255, 0.6);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --accent-color: #2196F3;
  --btn-color-hover: #188CE8;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;  
  --activity-bg-color: rgba(47, 48, 58, 0.8);
  --fallback-bg-color: #C4C4C4;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --logo-black-color: #000000;  
  --primary-border-color: #EEEEEE;
  --secondary-border-color: #ECECEC;  
  --primary-icon-color: #AFB1B8;
  --bg-icon-color: rgba(255, 255, 255, 0.1);  
  --overlay-card-color: rgba(33, 150, 243, 0.9);
  --project-card-gap: 30px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}

/* ----- START - COMMON STYLES ----- */

body {  
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;  
}

.link {
  text-decoration: none;  
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ===== END - COMMON STYLES ===== */

/* ----- START - COMPONENTS ----- */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.social-list-item {
  width: 44px;
  height: 44px;  
}

.social-list-item:not(:first-child) {
  margin-left: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  fill: var(--primary-icon-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);  
}

.social-list-icon {
  transition: fill var(--duration) var(--timing-function);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;  

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg-color);
  transform: scale(1) rotate(360deg);
  transition: transform var(--duration) var(--timing-function),              
              visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  transform: scale(0) rotate(0deg);  
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 582px;  
  padding: 40px;  
  
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;  
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0; 
  
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;  

  cursor: pointer;  
}

.modal-close-icon {
  transition: fill var(--duration) var(--timing-function);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.contact-form-call {
  display: block;
  text-align: center;  
  
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.contact-form {
  margin-top: 12px;
}

.contact-form-list {
  line-height: 0.01;  
}

.contact-form-list-item:not(:first-child) {
  margin-top: 10px;
}

.contact-form-label-text {  
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);  
}

.contact-form-input-wrapper {
  position: relative;
  
  display: block;
  margin-top: 4px;
  
  color: var(--accent-color);
}

.contact-form-input,
.contact-form-message {
  width: 100%;    

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.contact-form-input {  
  height: 40px;
  padding-left: 42px;  
}

.contact-form-message {
  resize: none;   
  height: 120px;  
  margin-top: 4px;
  padding: 12px 16px;  
}

.contact-form-label .contact-form-message::placeholder {  
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);  
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-input:focus,   
.contact-form-message:focus {  
  outline: none;  
  border-color: var(--accent-color);  
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%); 
  transition: fill var(--duration) var(--timing-function); 
}

.contact-form-checkbox-wrapper {
  margin-top: 20px;  
}

.text-agreement-link {
  color: var(--accent-color);
}

.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.contact-form-checkbox-label > .contact-form-label-text {
  margin-left: 7px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-form-checkbox-label::before {
  content: '';  
  width: 16px;
  height: 15px;
  border-radius: 2px;
  
  background-image: url(../images/icons/checkbox-off-icon.svg);
  background-repeat: no-repeat;  
}

.contact-form-checkbox-input:checked + .contact-form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icons/checkbox-on-icon.svg);
}

.contact-form-checkbox-input:focus + .contact-form-checkbox-label::before {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;             
}

.contact-form-submit-btn {
  display: block;
  min-width: 200px;
  padding: 10px 26px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background-color: var(--btn-color-hover);
}

/* ===== END - COMPONENTS ===== */

/* ----- START - HEADER ----- */

.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--secondary-border-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;  
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 94px;
  
  font-family: var(--main-logo-font-family);
  font-weight: 700;
  font-size: 0;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);      
}

.logo-font-size {    
  font-size: 26px;  
}

.logo-accent-color {
  color: var(--accent-color);
}

.menu-nav {
  display: flex;
  justify-content: space-between;    
}

.menu-nav-item:not(:first-child), 
.menu-contacts-item:not(:first-child) {
  margin-left: 50px;
}

.menu-nav .link,
.menu-contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--duration) var(--timing-function);
}

.menu-contacts {
  display: flex;  
}

.menu-contacts .link {
  display: flex;
  align-items: center;  
  
  color: var(--secondary-text-color);   
}

.menu-nav .link.current,
.menu-nav .link:hover, 
.menu-nav .link:focus,
.menu-contacts .link:hover,
.menu-contacts .link:focus {
  color: var(--accent-color);  
}

.menu-nav .link {
  position: relative; 
}

.menu-nav .link::after {
  content: '';
  
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;  
  transform: scaleX(0);  
  transition: transform var(--duration) var(--timing-function);
}

.menu-nav .link.current:after,
.menu-nav .link:hover::after, 
.menu-nav .link:focus::after {
  transform: scaleX(1);
}

.menu-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ===== END - HEADER ===== */

/* ----- START - HERO ----- */
.hero {
  max-width: 1600px;
  min-height: 600px;  
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;  

  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../images/bg-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  background-color: var(--fallback-bg-color);  
}

.hero-title {  
  width: 696px;
  margin: 0 auto;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;  
}

.hero-btn {
  min-width: 200px;  
  padding: 10px 26px;
  margin-top: 30px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}

.hero-btn:hover, 
.hero-btn:focus {
  background-color: var(--btn-color-hover);
}

/* ===== END - HERO ===== */

/* ----- START - FEATURES ----- */

.feature-section {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  justify-content: space-between;  
}

.feature-list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-title {
  margin-top: 30px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-description {
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.feature-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 120px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

/* ===== END - FEATURES ===== */

/* ----- START - ACTIVITY ----- */

.activity-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.activity-list-item {
  position: relative;   
}

.activity-title {
  position: absolute;
  bottom: 0;  
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);  
  text-transform: uppercase;

  background-color: var(--activity-bg-color);

  pointer-events: none;
}

/* ===== END - ACTIVITY ===== */

/* ----- START - STAFF ----- */

.staff {
  background-color: var(--secondary-bg-color);
}

.staff-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;  
  margin-top: 50px;
}

.staff-list-item {
  margin-left: 30px;  
  
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;  
}

.staff-name,
.staff-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
}

.staff-name {
  margin-top: 30px;
  font-weight: 500;  
}

.staff-position {
  margin-top: 10px;  
  color: var(--secondary-text-color);
}

/* ===== END - STAFF ===== */

/* ----- START - CLIENTS ----- */

.client-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
} 

.client-list-item {
  width: 170px;
  height: 92px;  
}

.client-list-item:not(:first-child) {
  margin-left: 30px;
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  

  color: var(--primary-icon-color);

  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function),
                     color var(--duration) var(--timing-function);
              
}

.client-list-icon {
  fill: currentColor;
}

.client-list-link:hover,
.client-list-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: currentColor;
}

/* ===== END - CLIENTS ===== */

/* ----- START - FOOTER ----- */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);  
}

.footer-container {
  display: flex;
  align-items: baseline;  
}

.page-footer .logo {  
  color: var(--primary-white-color);
}

.contact-list {
  margin-top: 20px;
}

.contact-list-item:not(:first-child) {
  margin-top: 9px;
}

.contact-list .link {  
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;  
  color: var(--opacity-text-color);
  transition: color var(--duration) var(--timing-function);  
}

.contact-list .link:hover, 
.contact-list .link:focus {
  color: var(--accent-color);  
}

.contact-list .opacity-link {
  color: var(--primary-white-color);
}

.footer-social-box {  
  margin-left: 70px;  
}

.footer-form {
  margin-left: 90px;
}

.footer-social-call,
.footer-form-call {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-list {
  display: flex;  
}

.footer-list-item {
  width: 44px;
  height: 44px;
  margin-top: 20px;  
}

.footer-list-item:not(:first-child) {
  margin-left: 10px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  fill: var(--primary-white-color);
  background-color: var(--bg-icon-color);
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--accent-color);
}

.footer-form-wrapper {
  display: flex;
  margin-top: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  
  color: var(--primary-white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);  
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}

.footer-form-input::placeholder {  
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--opacity-text-color);  
}

.footer-form-btn {  
  min-width: 200px;
  
  margin-left: 12px;
  padding: 10px 28px;  

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
}

.footer-form-btn-text {
  display: inline-flex;
  align-items: center;
}

.footer-form-btn-text::after {  
  content: '';

  width: 24px;
  height: 24px;    
  margin-left: 10px;
  
  background-image: url(../images/icons/mailing-icon.svg);  
}

/* ===== END - FOOTER ===== */

/* ----- START - PORTFOLIO ----- */

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list-item:not(first-child) {
  margin-left: 8px;
}

.filter-btn {
  min-width: 74px;
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;  

  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;
  transition: background-color var(--duration) var(--timing-function),
                    box-shadow var(--duration) var(--timing-function),
                         color var(--duration) var(--timing-function);  
}

.button.current,
.filter-btn:hover, 
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;  
  margin-top: calc(-1 * var(--project-card-gap) + 50px);
  margin-left: calc(-1 * var(--project-card-gap));
}

.project-card {
  flex-basis: calc(100% / 3 - var(--project-card-gap));
  margin-top: var(--project-card-gap);
  margin-left: var(--project-card-gap);

  background-color: var(--primary-white-color);
}

.project-link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {  
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--overlay-card-color);
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);  
}

.project-overlay-text {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  
  width: 100%;
  padding: 24px;   
  
  font-size: 18px;  
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.project-card:hover .project-overlay, 
.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-description {
  padding: 20px 24px;

  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-border-color);
  border-top: none;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-category {
  margin-top: 4px;

  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ===== END - PORTFOLIO ===== */