.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:first-child) {
  margin-left: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  fill: var(--primary-icon-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);
}

.social-list-icon {
  transition: fill var(--duration) var(--timing-function);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}